In [1]:
import pandas as pd

main_df = pd.read_csv('../data/raw/medical_insurance_cost.csv')
main_df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [2]:
# Get Data Frame structure data
print(f"Shape:\n{main_df.shape}\n")
print(main_df.info())

Shape:
(1338, 7)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB
None

<h3>Relevancia de los datos</h3>

<span style="color: steelblue;">* </span><span style="color: grey;">Para marcar dato posiblemente irrelevante para el análisis</span>
<br>
<br>

| **Variable**  | **Descripción**                                                                            | **Tipo** |
|---------------|--------------------------------------------------------------------------------------------|----------|
| `age`         | Edad del beneficiario                                                                      | Num      |
| `sex`         | Género del beneficiario                                                                    | Cat      |
| `bmi`         | índice de masa corporal                                                                    | Num      |
| `children`    | Número de niños/dependientes cubiertos por un seguro médico                                | Num      |
| `smoker`      | ¿Es fumador?                                                                               | Cat      |
| `region`      | Área residencial del beneficiario en USA: noreste, sureste, suroeste, noroeste             | Cat      |
| `charges`     | Prima del seguro médico                                                                    | Num      |